<app-menu-title></app-menu-title>

<div class="articles_container">
  <div class="main_articles">
    <app-big-card
      id="1"
      photoCover="https://i.pinimg.com/564x/c1/c7/11/c1c7112072bf50b4fa495b0d3686e49a.jpg"
      cardTitle="Primeiro post"
      cardResume="primerio post no blog e bla bla bla bla bla 
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Explicabo labore mollitia, veniam cumque eligendi deleniti alias repellendus sunt 
    modi optio reiciendis quibusdam. 
    Eveniet corporis minus odio ea ratione, magni eaque.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Explicabo labore mollitia, veniam cumque eligendi deleniti alias repellendus sunt 
    modi optio reiciendis quibusdam. 
    Eveniet corporis minus odio ea ratione, magni eaque."
    ></app-big-card>
  </div>
  <div class="other_articles">
    <app-small-card
    id="2"
      smallPhotoCover="https://i.pinimg.com/736x/53/84/53/5384539ab47f3bddddf305e06ed30c35.jpg"
      smallCardTitle="marginal alado 2000"
    ></app-small-card>
    <app-small-card
    id="3"
      smallPhotoCover="https://i.pinimg.com/originals/10/eb/72/10eb72c98fd1c929607a6139e721b1e7.gif"
      smallCardTitle="filme do mario mt massa"
    ></app-small-card>
    <app-small-card
    id="4"
      smallPhotoCover="https://i.pinimg.com/564x/67/2b/b2/672bb235306e07f929efe40b399594fa.jpg"
      smallCardTitle="receita de lasanha mt gostosa"
    ></app-small-card>
  </div>
</div>
