/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: #666666;
  border: none;
}
